/* * {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
} */

.container {
    display: flex;
}

.flex-item {
    flex: 1;
}

body.container{
    flex-direction: column;
    align-items: center;

}

.calculator {
    flex-direction: column;

    background-color: darkslategrey;
    padding: 36px 27px;
    border-radius: 22px;

}

.button-row {
    justify-content: center;
}

.display {
    text-align: end;
    font-size: 100px;
    color: black;
    background-color: lightcyan;
    border-radius: 12px;
    border-color: black;
    border-style: solid;

    margin-bottom: 10px;
}

button{
    flex: 1 1 auto;
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 101px;

    border-style:inset;
    border-color: gray;
    border-width: 1px;

    font-size: 25px;

    margin: 21px 2px;
}

.number {
    background-color: white;
}

.equals {
    background-color: lightblue;
}

.clear {
    background-color: lightpink;
}
