* {
    border-style: dashed;
    border-color: red;
}

.container {
    display: flex;
}

.flex-item {
    flex: 1;
}

body.container{
    flex-direction: column;
    align-items: center;

}

.calculator {
    flex-direction: column;
}

.button-row {
    justify-content: center;
}

.display {
    text-align: end;
}

button{
    flex: 1 1 auto;
}
